body
{
    background-color: white;
}

#loginform
{

}

.headerblock
{
    background-color: aqua;
}

.footer
{
    text-align: center;
}

form
{
    width: 250px;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
}

a
{
    background-color: green;
    display: block;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

a:hover
{
    background-color: red;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    margin-left:20px;
    transition-duration: 2ms;
}

th
{
    color: white;
}